  <table style="color:black;background-color:#ddd;" class="table table-hover">
    <tr>
        <td>Offer Volume/حجم العرض</td>
        <td>
            <div id="offer_value"></div>
        </td>
        <td>Bid Price/سعر العرض</td>
        <td>
            <div id="BID"></div>
        </td>
        <td>Bid Volume/حجم العطاء</td>
        <td>
            <div id="BIDVOL"></div>
        </td>
        <td>Current / Last Trade Price - سعر التجارة الحالي / الأخير</td>
        <td>
            <div id="CUR"></div>
        </td>
        <td>Total Number of Trades / إجمالي عدد الصفقات</td>
        <td>
            <div id="VOL"></div>
        </td>
        <td>Total traded value / إجمالي القيمة المتداولة</td>
        <td>
            <div id="VAL"></div>
        </td>
    </tr>
    <tr>
      <td>Highest Price of current day / أعلى سعر لليوم الحالي</td>
      <td>
          <div id="HIGH"></div>
      </td>
      <td>Lowest Price of current day / أدنى سعر لليوم الحالي</td>
        <td>
            <div id="LOW"></div>
        </td>
        <td>Net Change in Units / صافي التغيير في الوحدات</td>
        <td>
            <div id="NCHN"></div>
        </td>

        <td>Percentage Change in Units / النسبة المئوية للتغيير في الوحدات</td>
        <td>
          <div id="PCHN"></div>
        </td>
        <td>
          Trend / Direction / الاتجاه / الاتجاه
        </td>
        <td>
          <div id="TRND"></div>
        </td>
        <td>
          Market capitalization / القيمة السوقية
        </td>
        <td>
          <div id="MCAP"></div>
        </td>
        <td>
          Opening Price / سعر الافتتاح
        </td>
        <td>
          <div id="OPN"></div>
        </td>
    </tr>
</table>
<div id="container" class="container" style="height: 400px; min-width: 310px"></div>
<br /><br />
<div id="container3" class="container" style="height: 400px; min-width: 310px"></div>
<br /><br />

<div id="container5" class="container" style="height: 400px; min-width: 310px"></div>
